.announcement {
    .header-announcement {
        background: #64005A;
        /*
        .banner::after {
                content: "NON-SERVICE DISRUPTING MAINTENANCE: On June 8, 2023, between 09:00 CDT and 12:00 CDT, docs.rackspace.com will be redirected to our new Website.";
                display: block;
                font-family: "open-sans-regular", arial, sans-serif;
                font-style: normal;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 17px;
                color: #FFF;    
         }*/
        .banner {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 15px 10px;
            p {
                /* display: none;  will use this to hide branding text across all websites when we un-comment banner::after above */
                font-family: "open-sans-regular", arial, sans-serif;
                font-style: normal;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 17px;
                color: #FFF;
                margin-bottom: 0;
                strong {
                    font-weight: 700;
                }
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}
