$header-height: 5rem;

.header {
  align-items: center;
  background-color: $color-black;
  border-bottom: 1px solid $color-grey;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  z-index: 20;

  .navbar {
    padding: 0;
    color: $color-white;

    .nav-link {
      color: $color-white;
      font-weight: 510;
      text-decoration: none;
      transition: color 0.15s ease;

      &:hover {
        color: $color-white;
      }

      &.active {
        color: $color-white;
      }
    }
  }

  .logo {
    backface-visibility: hidden;
    background-image: url(img/Rackspace_Technology_Logo_RGB_WHT.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    height: 75px;
    transition: width 0.15s linear, opacity 0.15s ease;
    width: 140px;
    background-color: $color-red;
    margin: 0;
    padding: 0 1rem;

    &:hover {
      opacity: 0.6;
    }
  }

  .dropdown-menu {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, .15);
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0em;
    content: "";
    border-top: .7em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
  }

  @media (min-width: 979px) {
    .dropdown:hover>.dropdown-menu {
      display: block;
    }
  }

  .search {
    margin: 1rem;
    position: relative;

    // &::after {
    //   background-image: url("/img/search.svg");
    //   background-repeat: no-repeat;
    //   background-size: 0.9rem;
    //   content: "";
    //   height: 100%;
    //   left: 0.7rem;
    //   opacity: 0.25;
    //   position: absolute;
    //   top: 0.65rem;
    //   width: 2rem;
    //   z-index: 10;
    // }

    input {
      padding-left: 2rem;
    }
  }

  .left-block {
    align-items: center;
    display: flex;
    height: 75%;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.15s linear;
    width: 140px;
    margin: 1rem;
    padding: 0.25rem;

    @media screen and (max-width: 700px) {
      width: 1.5rem;

      .logo {
        background-image: url(img/Rackspace_Technology_Logo_RGB_WHT.svg);
      }
    }
  }

  .right-block {
    align-items: center;
    display: flex;
  }

  .search {
    margin: 1rem;
    position: relative;

    // &::after {
    //   background-image: url("/img/search.svg");
    //   background-repeat: no-repeat;
    //   background-size: 0.9rem;
    //   content: "";
    //   height: 100%;
    //   left: 0.7rem;
    //   opacity: 0.25;
    //   position: absolute;
    //   top: 0.65rem;
    //   width: 2rem;
    //   z-index: 10;
    // }

    input {
      padding-left: 2rem;
      min-width: 40rem;
      min-height: 3rem;
      font-size: 1rem;
      font-style: italic;
    }

    button {
      position: relative;
      top: 0;
      right: 0;
      cursor: pointer;
      border-width: 0;
      outline-width: 0;
      font-size: 20px;
      padding: 11px;
      background: none;
      color: #555;
      transition: all 0.15s linear;
      background-color: $color-white;
      .button-text {
        display: none;
      }
    }
  }
}

.header.dark {
  background-color: $color-black;
  border-bottom: 1px solid $color-dark;
  color: $color-white;

  .logo {
    background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
  }

  .nav {
    color: $color-white;

    &.expanded {
      color: $color-black;
    }
  }

  .button {
    color: $color-white;
  }

  @media screen and (max-width: 700px) {
    .logo {
      background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
    }
  }
}

.header.docs {
  height: $header-height;

  .nav {
    &.expanded {
      display: flex;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding: 1.24rem 2rem 2rem;

      @media screen and (min-width: 960px) {
        padding: 1.21rem 4rem 2rem;
      }

      ul.main-nav-items {
        border-bottom: 1px solid $color-grey;
        padding-bottom: 2rem;
        width: 100%;
      }

      li {
        font-size: 1rem;
        text-transform: uppercase;
      }

      .docs-nav-items {
        font-size: 1rem;
        padding-top: 2rem;
        width: 100%;

        h2 {
          margin-bottom: 2rem;
        }

        h3 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        ul {
          color: $color-copy-dark;
          margin-bottom: 2rem;
        }

        li {
          line-height: 1.4;
          margin-bottom: 0.5rem;
          text-transform: uppercase;

          a {
            color: $color-copy-dark;
            font-weight: 510;
            text-decoration: none;

            &.active {
              color: $color-brand;
              font-weight: 610;
            }
          }
        }
      }

      .buynow-button,
      .login-button {
        margin: 2rem 0 0;
      }

      .mini-nav--logo {
        display: block;
        background-color: $color-red;
      }
    }

    // @media screen and (min-width: 960px) {
    //   display: none;
    // }

    // @media screen and (min-width: 860px) {
    //   .docs-nav-items {
    //     display: none;
    //   }
    // }

    // @media screen and (min-width: 1100px) {
    //   display: block;
    // }
  }

  // .mini-nav--toggle {
  //   @media screen and (min-width: 960px) {
  //     display: block;
  //   }

  //   @media screen and (min-width: 1100px) {
  //     display: none;
  //   }
  // }
}

.nav {
  display: flex;
  position: relative;
  transition: all 0.15s linear;
  white-space: nowrap;

  &.expanded {
    background: $color-black;
    border-bottom: 1px solid $color-grey;
    display: flex;
    height: auto;
    left: 0;
    padding: 1.72rem 8vw 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;

    li {
      display: block;
      font-size: 1.5rem;
      line-height: 1.8;
      text-transform: uppercase;
    }

    .buynow-button,
    .login-button {
      margin: 2rem 0 0;
    }

    .mini-nav--logo {
      display: block;
      background-color: $color-red;
    }

    // @media screen and (min-width: 960px) {
    //   display: none;
    // }
  }

  @media screen and (min-width: 960px) {
    display: flex;
  }
}

.nav {
  li {
    display: block;
    list-style: none;
    margin-right: 1.5rem;
    text-transform: uppercase;

    &:last-child {
      margin: 0;
    }

    .nav-item {
      color: $color-white;
      font-weight: 510;
      text-decoration: none;
      transition: color 0.15s ease;

      &:hover {
        color: $color-white;
      }

      &.active {
        color: $color-white;
      }
    }

    a {
      font-size: 14px;
      font-weight: 510;
      font-family: "open-sans-bold", Arial, sans-serif;
      font-style: normal;

      // &:hover,
      // &.active {
      //   background-color: $color-black;
      // }

      &.active {
        background: fadeout(shade(white, 3%), 5%);
      }
    }
  }
}


.mini-nav--toggle {
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 40;
  margin: 0 0 0 20rem;

  img {
    display: block;
    width: 1.2rem;
  }

  .toggle-open {
    display: block;
  }

  .toggle-close {
    display: none;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}

.nav.expanded+.mini-nav--toggle {
  .toggle-open {
    display: none;
  }

  .toggle-close {
    display: block;
  }
}

.mini-nav--logo {
  backface-visibility: hidden;
  background-image: url("/img/Rackspace_Technology_Logo_RGB_WHT.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  height: 1.5rem;
  line-height: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  transition: all 0.15s linear;
  width: 110px;
  background-color: $color-red;
}

.buttons-header {
  background-color: $color-white;
}

.main-nav-items {
  margin: 1rem;
}

.buttons-nav-items {
  display: flex;

  .buttons-nav-item {
    display: flex;
    margin: .5rem;
    cursor: pointer;

    ul {
      display: none;
      cursor: pointer;

      li {
        margin-bottom: .5em;

        a {
          color: $color-white;
          text-decoration: none;
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }

  .buttons-nav-item {
    ul {
      position: absolute;
      padding-left: 0;
      border-top: 1px solid $color-black;
      border-radius: 3px;
      z-index: 20;
      text-align: right;
      color: $color-white;
      right: 0;
      top: 75%;
    }
  }

  .buy-now {
    ul {
      background: $color-green;
    }
  }

  .login {
    ul {
      background: $color-header-grey;
    }
  }
}

.blog-nav {
  background-color: $color-black;
  z-index: 2;
}

.main-nav-items {
  .blog-nav {
    cursor: pointer;
    display: inline-block;
    position: relative;

    .main-nav-items {
      position: absolute;
      display: none;
      margin: 0;
      background-color: $color-light-grey;
      text-decoration: none;
      list-style-type: none;
      padding: 10px;
      border-radius: 0 0 4px 4px;

      li {
        width: 220px;
        border-radius: 4px;

        a {
          font-weight: 610;
          color: $color-dark-grey;
          font-size: 14px;
          line-height: 25px;
          text-decoration: none;
          text-transform: uppercase;
          list-style-type: none;

          &:hover,
          &:focus {
            color: $color-white;
            background: transparent;
          }
        }
      }
    }

    &:hover,
    &:focus {
      .main-nav-items {
        display: grid;
      }
    }
  }
}

.bg-dark {
  background-color: $color-black !important;
}

.system-status {
  text-transform: uppercase;
  font-size: 0.8rem !important;
  background-color: $color-white !important;
  &:hover {
    background-color: $color-white !important;
    text-decoration: underline;
  }
}

.search-head {
  background-color: #212121 !important;
  .support-h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 19px 10px 19px;
  }
}


.gsc-control-cse {
  padding: 0 !important;
}

.bg-light {
  background-color: $color-white !important;
}
li, button, a {
  cursor: pointer;
}


@media screen and (max-width: 700px) {
 .nav li {
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  .buy-now {
     margin-top: 1rem;
     margin-bottom: 1rem;
   }
 }

 @media screen and (max-width: 991px) {
   .mobile-search {
     display: inline-block !important;
     background-color: $color-black !important;
   }
   .desktop-search {
     display: none !important;
   }
   .buttons-nav-item {
    flex: auto;
  }
 }

 @media screen and (min-width: 992px) {
  .mobile-search {
    display: none !important;
    background-color: $color-black !important;
  }
  .desktop-search {
    display: inline-block !important;
  }
 }


 .site-header .header-links .btn-link ul, .site-header .header-links .btn-link.sign-up ul {
  border-top: 1px solid #000;
  border-radius: 3px;
  z-index: 10;
  text-align: right;
  color: #fff;
  right: 0;
  cursor:pointer
}

.site-header .header-links {
  background: #fff;
  color: #fff;
  font-size: 11px;
  text-transform:uppercase
}

.site-header .header-links a {
  color: #fff;
  text-decoration:none
}

.site-header .header-links .header-links-container {
  width: calc(100% + 0px);
  margin-left: 0;
  vertical-align: top;
  display: none;
  padding: 0 5%;
  overflow:visible
}

.site-header .header-links .header-links-container .phone-chat-links {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -.26rem;
  margin-left: 0;
  vertical-align: top;
  width:calc(50% - 0px)
}

@media (min-width: 937px) {
  .site-header .header-links .header-links-container .phone-chat-links {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: inline-block;
      margin-right: -.26rem;
      margin-left: 0;
      vertical-align: top;
      width:calc(66.66666667% - 0px)
  }
}

@media (max-width: 1040px) {
  .site-header .header-links .header-links-container .developer-forum {
      display:none
  }
}

.site-header .header-links .header-links-container .portal-links {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -.26rem;
  margin-left: 0;
  vertical-align: top;
  width: calc(50% - 0px);
  margin-bottom: 5px;
  text-align:right
}

@media (min-width: 937px) {
  .site-header .header-links .header-links-container .portal-links {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: inline-block;
      margin-right: -.26rem;
      margin-left: 0;
      vertical-align: top;
      width:calc(33.33333333% - 0px)
  }
}

@media (min-width: 475px) {
  .site-header .header-links .header-links-container {
      display:block
  }
}

@media (min-width: 769px) {
  .site-header .header-links .header-links-container {
      padding:0
  }
}

.site-header .header-links .btn-link {
  display: none;
  margin-bottom: 0;
  position:relative
}

.site-header .header-links .btn-link.sign-up {
  margin-left:10px
}

.site-header .header-links .btn-link.sign-up:active span, .site-header .header-links .btn-link.sign-up:focus span, .site-header .header-links .btn-link.sign-up:hover span, .site-header .header-links .btn-link.sign-up > a, .site-header .header-links .btn-link.sign-up > span {
  background: #5aaa28;
  color:#fff
}

.site-header .header-links .btn-link.sign-up ul {
  display: none;
  position: absolute;
  background: #5aaa28;
  padding-left:0
}

.site-header .header-links .btn-link.sign-up .extra-words {
  display:none
}

@media (min-width: 1055px) {
  .site-header .header-links .btn-link.sign-up .extra-words {
      display:inline
  }
}

.site-header .header-links .btn-link > a, .site-header .header-links .btn-link > span {
  background: #666;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  line-height: 18px;
  margin: 5px 0 0 5px;
  padding: 7px 20px;
  cursor: pointer;
  -webkit-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  transition:background .1s ease-in-out
}

.site-header .header-links .btn-link ul {
  display: none;
  position: absolute;
  background: #666;
  padding-left:0
}

.site-header .header-links .btn-link:hover ul {
  display: block;
  margin-top:0
}

.site-header .header-links .btn-link:hover ul li {
  font-weight: 400;
  color: #fff;
  display: block;
  margin:0
}

.site-header .header-links .btn-link:hover ul li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius:3px
}

.site-header .header-links .btn-link:hover ul li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius:3px
}

.site-header .header-links .btn-link:hover ul li a {
  color: #fff;
  display: block;
  padding: 4px 6px;
  text-decoration: none;
  white-space:nowrap
}

.site-header .header-links .btn-link:hover ul li:hover {
  background: 0 0;
  opacity:.5
}

.site-header .header-links .btn-link:hover ul li:hover a {
  color:color
}

@media (min-width: 375px) {
  .site-header .header-links .btn-link {
      display:inline-block
  }
}

.site-header .header-links .text-link {
  display: none;
  line-height: 34px;
  margin:0
}

.site-header .header-links .text-link + .text-link {
  margin-left: 6px;
  padding-left:8px
}

.site-header .header-links .text-link + .text-link:before {
  background: #fff;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 11px;
  width:1px
}

.site-header .header-links .text-link a:hover {
  color:#71b7e6
}

.site-header .header-links .support-link {
  display:inline-block
}

@media (min-width: 600px) {
  .site-header .header-links .sales-chat-link {
      display:inline-block
  }
}

@media (min-width: 937px) {
  .site-header .header-links .text-link {
      display:inline-block
  }
}

.site-header .header-nav {
  background: #000;
  z-index:2
}

.site-header .header-nav .header-nav-container > ul {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  list-style-type:none
}

.site-header .header-nav .header-nav-container > ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 -.25em;
  position:relative
}

@media (max-width: 500px) {
  .site-header .header-nav .header-nav-container > ul > li {
      display: block;
      text-align:center
  }

  .site-header .header-nav .header-nav-container > ul > li:hover ul {
      position:relative
  }
}

.site-header .header-nav .header-nav-container > ul > li > a {
  font-weight: 400;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 56px;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  transition:background .1s ease-in-out
}

.site-header .header-nav .header-nav-container > ul > li > a.active, .site-header .header-nav .header-nav-container > ul > li > a:hover {
  background:#474747
}

.site-header .header-nav .header-nav-container > ul > li > a.active {
  background:rgba(247, 247, 247, .95)
}

.site-header .header-nav .header-nav-container > ul > li:hover ul {
  display:block
}

.site-header .header-nav .header-nav-container > ul > li > ul {
  display: none;
  position: absolute;
  margin-top: 0;
  background-color: #c9c6c1;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  border-radius:0 0 4px 4px
}

.site-header .header-nav .header-nav-container > ul > li > ul > li {
  width: 220px;
  border-radius:4px
}

.site-header .header-nav .header-nav-container > ul > li > ul > li > a {
  font-weight: 400;
  color: #676781;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type:none
}

.site-header .header-nav .header-nav-container > ul > li > ul > li > a:hover {
  display: block;
  color:#fff
}

.site-header .header-nav .header-nav-container > ul .wordy, .site-header .header-nav .header-nav-container > ul > li.search .search-results .results-count {
  display:none
}

@media (max-width: 500px) {
  .site-header .header-nav .header-nav-container > ul > li > ul > li {
      width:100%
  }

  .site-header .header-nav .header-nav-container > ul > li > ul > li > a {
      text-align:center
  }
}

.site-header .header-nav .header-nav-container > ul > li.search {
  float: right;
  height: 60px;
  padding: 0;
  width:100%
}

.site-header .header-nav .header-nav-container > ul > li.search .search-results {
  max-height:400px
}

.site-header .header-nav .header-nav-container > ul > li.search .search-results .no-results {
  padding-top: 1em;
  padding-bottom:1em
}

@media (min-width: 768px) {
  .site-header .header-nav .header-nav-container > ul > li.search {
      padding: 13px 13px 13px 0;
      width:220px
  }
}

@media (min-width: 1024px) {
  .site-header .header-nav .header-nav-container > ul > li.search {
      padding: 13px 0;
      width:240px
  }

  .site-header .header-nav .header-nav-container > ul .wordy {
      display:inline
  }
}

@media (min-width: 1039px) {
  .site-header .header-nav .header-nav-container > ul > li.search {
      padding: 13px 0;
      width:280px
  }
}

.site-header .header-nav .header-nav-container > ul .logo {
  background: #EB0000;
  display: block;
  -webkit-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  transition:background .1s ease-in-out
}

.site-header .header-nav .header-nav-container > ul .logo a {
  padding:0 1.5em
}

.site-header .header-nav .header-nav-container > ul .logo a img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  margin: 8px 0 0;
  padding: 0;
  width:140px
}

.site-header .header-nav .header-nav-container > ul .logo a:hover {
  background:0 0
}

@media (min-width: 1024px) {
  .site-header .header-nav .header-nav-container > ul {
      padding:0 35px
  }
}

@media (min-width: 410px) {
  .site-header .header-nav .header-nav-container > ul > li > a {
      padding:0 1em
  }
}

@media (min-width: 725px) {
  .site-header .header-nav .header-nav-container > ul .logo {
      display:inline-block
  }

  .site-header .header-nav .header-nav-container > ul > li > a {
      font-size: 14px;
      line-height:60px
  }
}

@media (min-width: 1025px) {
  .site-header .header-nav .header-nav-container > ul > li > a {
      padding:0 2em
  }
}

.site-header .header-nav .nav-dropdown {
  background: rgba(247, 247, 247, .95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .15);
  margin: 0;
  max-height: 0;
  overflow-y: scroll;
  position: absolute;
  -webkit-transition: max-height .2s ease-in-out;
  -ms-transition: max-height .2s ease-in-out;
  transition: max-height .2s ease-in-out;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  will-change: max-height;
  z-index:2
}

.site-header .header-nav .nav-dropdown.active {
  max-height:50vh
}

.site-header .header-nav .nav-dropdown::-webkit-scrollbar {
  background: 0 0;
  height: 6px;
  width:6px
}

.site-header .header-nav .nav-dropdown::-webkit-scrollbar-track:vertical {
  background:0 0
}

.site-header .header-nav .nav-dropdown::-webkit-scrollbar-thumb:vertical {
  background:#d9d9d9
}

.site-header .header-nav .nav-dropdown .dropdown-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width:90%
}

.site-header .header-nav .nav-dropdown .dropdown-grid {
  display: block;
  width: calc(100% + 20px);
  margin-left: -20px;
  overflow: hidden;
  vertical-align:top
}

.site-header .header-nav .nav-dropdown .dropdown-column {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -.26rem;
  margin-left: 10px;
  vertical-align: top;
  width: calc(100% - 10px);
  padding-bottom: 10px;
  padding-top:10px
}

@media (min-width: 700px) {
  .site-header .header-nav .nav-dropdown .dropdown-column {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: inline-block;
      margin-right: -.26rem;
      margin-left: 60px;
      vertical-align: top;
      width: calc(33.33333333% - 60px);
      padding-bottom: 20px;
      padding-top:20px
  }
}

.site-header .header-nav .nav-dropdown .dropdown-column.compact-bottom {
  padding-bottom:0
}

.site-header .header-nav .nav-dropdown .dropdown-column.compact-top {
  padding-top:0
}

.site-header .header-nav .nav-dropdown h5 {
  margin-bottom:.5em
}

.site-header .header-nav .nav-dropdown ul {
  list-style-type: none;
  padding-left:0
}

.site-header .header-nav .nav-dropdown ul li {
  margin-bottom:0
}

.site-header .header-nav .nav-dropdown a {
  text-decoration:none
}

.site-header .header-nav .nav-dropdown a:hover {
  text-decoration:underline
}

.site-header .header-nav .nav-dropdown .sdk-language {
  background: #e0e0e0;
  border-radius: 2px;
  display: inline-block;
  font-size: 9px;
  margin-left: .5em;
  padding: 0 .5em;
  text-transform:uppercase
}

.site-header .header-headline {
  background-image: url(https://80f9b8fec919ac5ebc1a-384085a95109bffb325fe35cb6202ded.ssl.cf2.rackcdn.com/fpo-code-editor-d451e1cbed5e243327c02753222aff6516c860bb1892e03d3c54d9b1e1884d66.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  z-index:1
}

.site-header .header-headline h1, .site-header .header-headline h2 {
  font-family: titillium-light, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: rgba(255, 255, 255, .55);
  display: inline-block;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 40px .5em;
  width:100%
}

.site-header .header-headline h1 .headline-accent, .site-header .header-headline h2 .headline-accent {
  font-family: open-sans-bold, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  display:block
}

.site-header .header-announcement .banner p, .site-header .header-maintenance .banner p {
  font-family: open-sans-regular, arial, sans-serif;
  font-style: normal;
  line-height: 17px;
  text-align:center
}

@media (min-width: 769px) {
  .site-header .header-headline h1, .site-header .header-headline h2 {
      background: 0 0;
      padding:0
  }
}

.site-header .header-headline .tagline {
  display: none;
  font-size: 15px;
  text-transform:uppercase
}

@media (min-width: 726px) {
  .site-header .header-headline {
      margin-top:-60px
  }

  .site-header .header-headline h2 {
      padding:100px 40px 40px
  }
}

@media (min-width: 769px) {
  .site-header .header-headline {
      padding:120px 60px 60px 35px
  }

  .site-header .header-headline h2 {
      padding: 0;
      width:auto
  }

  .site-header .header-headline .tagline {
      display: block;
      font-size: 15px;
      text-transform:uppercase
  }
}

.site-header .header-announcement {
  background:#64005A
}

.site-header .header-announcement .banner {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding:15px 0
}

@media only screen and (max-width: 375px) {
  .site-header .header-announcement .banner {
      width:100%
  }
}

@media only screen and (min-width: 376px) and(max-width: 600px) {
  .site-header .header-announcement .banner {
      width:100%
  }
}

.site-header .header-announcement .banner i {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 18px;
  color:#c23e4f
}

.site-header .header-announcement .banner p {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  margin-bottom:0
}

@media only screen and (max-width: 600px) {
  .site-header .header-announcement .banner p {
      font-size:14px
  }
}

.site-header .header-announcement .banner p strong {
  font-weight:700
}

.site-header .header-announcement .banner p a {
  color: #fff;
  text-decoration:underline
}

.site-header .header-announcement .banner p a:hover {
  color:#222
}

.site-header .header-maintenance {
  background:#fa2033
}

.site-header .header-maintenance .banner {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding:15px 0
}

@media only screen and (max-width: 375px) {
  .site-header .header-maintenance .banner {
      width:100%
  }
}

@media only screen and (min-width: 376px) and(max-width: 600px) {
  .site-header .header-maintenance .banner {
      width:100%
  }
}

.site-header .header-maintenance .banner i {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 18px;
  color:#c23e4f
}

.site-header .header-maintenance .banner p {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  margin-bottom:0
}

@media only screen and (max-width: 600px) {
  .site-header .header-maintenance .banner p {
      font-size:14px
  }
}

.site-header .header-maintenance .banner p strong {
  font-weight:700
}

.site-header .header-maintenance .banner p a {
  color: #fff;
  text-decoration:underline
}

.site-header .header-maintenance .banner p a:hover {
  color:#222
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.guilabel {
  font-weight: bold;
}

.menuselection {
  font-weight: bold;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}


@media screen and (min-width: 1025px) {
  .wy-side-scroll {
      padding: 15px 20px 0;
  }
}

.site-header .docs-header-headline {
  background-image: url(/img/headline-cover.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  z-index:1
}

.site-header .docs-header-headline h1, .site-header .docs-header-headline h2 {
  font-family: titillium-light, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background: rgba(255, 255, 255, .55);
  display: inline-block;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 40px .5em;
  width:100%
}

.site-header .docs-header-headline h1 .headline-accent, .site-header .docs-header-headline h2 .headline-accent {
  font-family: open-sans-bold, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  display:block
}

.site-header .header-announcement .banner p, .site-header .header-maintenance .banner p {
  font-family: open-sans-regular, arial, sans-serif;
  font-style: normal;
  line-height: 17px;
  text-align:center
}

@media (min-width: 769px) {
  .site-header .docs-header-headline h1, .site-header .docs-header-headline h2 {
      background: 0 0;
      padding:0
  }
}

.site-header .docs-header-headline .tagline {
  display: none;
  font-size: 15px;
  text-transform:uppercase
}

@media (min-width: 726px) {
  .site-header .docs-header-headline {
      margin-top:-60px
  }

  .site-header .docs-header-headline h2 {
      padding:100px 40px 40px
  }
}

@media (min-width: 769px) {
  .site-header .docs-header-headline {
      padding:120px 60px 60px 35px
  }

  .site-header .docs-header-headline h2 {
      padding: 0;
      width:auto
  }

  .site-header .docs-header-headline .tagline {
      display: block;
      font-size: 15px;
      text-transform:uppercase
  }
}