.docs-home {
    background: #fafafa;
    border-right: solid 1px #ebebeb;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
    @media screen and (min-width: 1025px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    @media screen and (min-width: 769px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    @media screen and (max-width: 768px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    .sidebar-container {
        padding: 20px 35px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fafafa;
        @media screen and (min-width: 1025px) {
            padding: 15px 20px 0;
        }
        h5 {
            font-size: 100%;
            text-transform: uppercase;
        }
        h5, li{
            margin-bottom: 20px;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin: 0;
            overflow: hidden;
            padding: 0 0 20px 20px;
            width: 100%;
            li+li {
                margin-top: 0;
            }
        }
    }
    .product-filters {
        border-bottom: dotted 1px rgba(71,71,71,.7);
        margin-bottom: 20px;
        li.active {
            a{
                background: 0 0;
                letter-spacing: 0;
                .label {
                    color: #474747;
                }
                .indicator {
                    background: #739eaf;
                    border-color: #739eaf;
                    color: #fff;
                }
            }
        }
        li {
            a {
                font-family: "titillium-regular",arial,sans-serif;
                font-style: normal;
                font-weight: 400;
                display: block;
                padding: 0 28px 0 0;
                color: #474747;
                font-size: 16px;
                text-decoration: none;
                .indicator {
                    border: 1px solid #474747;
                    color: transparent;
                    display: inline-block;
                    font-size: 12px;
                    height: 14px;
                    line-height: 14px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    -webkit-transition: all .1s ease-in-out;
                    -ms-transition: all .1s ease-in-out;
                    transition: all .1s ease-in-out;
                    top: 6px;
                    width: 14px;
                }
                .label {
                    color: #b3b3b3;
                    font-size: 114.28571429%;
                    -webkit-transition: color .1s ease-in-out;
                    -ms-transition: color .1s ease-in-out;
                    transition: color .1s ease-in-out;
                }
            }
        }
    }
}

.docs-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
    @media screen and (min-width: 1302px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    @media screen and (min-width: 1024px) and (max-width: 1301px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    @media screen and (min-width: 769px) and (max-width: 1023px) {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    @media screen and (max-width: 768px){
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    .docs-category {
        border-bottom: dotted 1px #a3a3a3;
        padding-top: 80px;
        padding-left: 35px;
        h2 {
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: "titillium-regular",arial,sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 214.28571429%;
        }
        p {
            font-family: open-sans-light,arial,sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 35px;
        }
    }
    .product-list {
        display: block;
        width: calc(100%);
        .product {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            display: inline-block;
            width: calc(100%);
            @media screen and (min-width: 769px) {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                display: inline-block;
                margin-right: -.26rem;
                vertical-align: top;
                width: calc(33.33333333%);   
            }
            @media (min-width: 480px) and (max-width: 768px) {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                display: inline-block;
                margin-right: -.26rem;
                vertical-align: top;
                width: calc(50%);
            }
        }
        .card {
            margin-bottom: 35px;
        }
    }
}

.card.green {
    border-top-color: #1abc9c;
}

.card {
    border-top: solid 8px #bfbfbf;
    box-shadow: 0 0 0 rgba(0,0,0,.25);
    margin-bottom: 1.5em;
    -webkit-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    width: calc(100% - 2px);
    .card-content {
        border: 1px solid #e6e6e6;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top: 0;
    }
    .card-title {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: calc(.5em + 8px) 20px .5em;
    }
    .card .card-body {
        padding: 0 20px 20px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            margin-bottom: .5em;
        }
    }
}