pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #eeffcc; }
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #333333 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #208050 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #208050 } /* Literal.Number.Bin */
.highlight .mf { color: #208050 } /* Literal.Number.Float */
.highlight .mh { color: #208050 } /* Literal.Number.Hex */
.highlight .mi { color: #208050 } /* Literal.Number.Integer */
.highlight .mo { color: #208050 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #208050 }

.admonition {
    box-shadow: inset 8px 0 0 #95a5a6;
    font-family: titillium-light, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #ebebeb;
    border-left: 0;
    border-radius: 1px;
    margin-bottom: 3em;
    max-width: 100%;
    min-height: 48px;
    padding:10px 10px 10px 56px
}

.admonition:before {
    color: #95a5a6;
    font: normal normal normal 14px/1 drc-icons;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
    content: '\f108';
    font-size: 21px;
    height: 21px;
    left: 21px;
    position: absolute;
    top: 12px;
    width:21px
}

.admonition.note {
    box-shadow:inset 8px 0 0 #76bcff
}

.admonition.note:before {
    color: #76bcff;
    content: '\f10b'
}

.admonition.alert {
    box-shadow:inset 8px 0 0 #f1c40f
}

.admonition.alert:before {
    color: #f1c40f;
    content: '\f102'
}

.admonition.hint, .admonition.tip {
    box-shadow:inset 8px 0 0 #2ecc85
}

.admonition.hint:before, .admonition.tip:before {
    color: #2ecc85;
    content: '\f108'
}

.admonition.caution, .admonition.danger, .admonition.warning {
    box-shadow:inset 8px 0 0 #e74c3c
}

.admonition.caution:before, .admonition.danger:before, .admonition.warning:before {
    color: #e74c3c;
    content: '\f101'
}

.admonition.error {
    box-shadow:inset 8px 0 0 #ef9d45
}

.admonition.error:before {
    color: #ef9d45;
    content: '\f104'
}

.admonition.attention {
    box-shadow:inset 8px 0 0 #32cdc7
}

.admonition.attention:before {
    color: #32cdc7;
    content: '\f10a'
}

.admonition.important {
    box-shadow:inset 8px 0 0 #9b59b6
}

.admonition.important:before {
    color: #9b59b6;
    content: '\f10f'
}

.admonition .admonition-title {
    display:none
}

.admonition :last-child {
    margin-bottom:0
}


.card {
    border-top: solid 8px #bfbfbf;
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
    margin-bottom: 1.5em;
    -webkit-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    width:calc(100% - 2px)
}

.card.blue {
    border-top-color:#739eaf
}

.card.green {
    border-top-color:#1abc9c
}

.card.yellow {
    border-top-color:#efc75e
}

.card.red {
    border-top-color:#e74c3c
}

.card.teal {
    border-top-color:#0dafcc
}

.card.purple {
    border-top-color:#8e708e
}

.card.pink {
    border-top-color:#d86c90
}

.card .card-content {
    border: 1px solid #e6e6e6;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top:0
}

.card .card-title {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding:calc(.5em + 8px) 20px .5em
}

.card .card-body {
    padding:0 20px 20px
}

.card:hover {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    transition:all .1s ease-in
}



.github-link {
    border-bottom: solid 1px #d1d1d1;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    -webkit-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    font-family: titillium-regular, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration:none
}

.github-link .icon {
    color: #474747;
    display: block;
    font-size: 36px;
    margin-right: 8px;
    text-align: center;
    -webkit-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    vertical-align:middle
}

.github-link:hover {
    background: transparent;
}


.github-link .link-text {
    display: inline-block;
    vertical-align:middle
}

.github-link:hover, .github-link:hover .icon {
    color:#2f89c5
}

@media (min-width: 1150px) {
    .github-link {
        text-align:left
    }

    .github-link .icon {
        display: inline-block;
        font-size: 26px;
        text-align:left
    }
}


.current > ul > li.toctree-l1:first-of-type a, ul > li.toctree-l1:first-of-type a {
    font-family: titillium-bold, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform:uppercase
}

.toctree-wrapper.compound > .current > li.toctree-l1:first-of-type a {
    font-family: titillium-regular,arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #474747;
    display: block;
    font-size: 16px;
    padding: .4em .5em;
    text-decoration: none;
    text-transform: none;
}



.current > ul li a, ul li a {
    font-family: titillium-regular, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #474747;
    display: block;
    font-size: 16px;
    padding: .4em .5em;
    text-decoration:none
}

@media (min-width: 769px) {
    .sidebar-container.sticky {
        position: fixed;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        top: 0;
        width:calc(25%)
    }
}

@media (min-width: 1025px) {

    .sidebar-container.sticky {
        width:calc(25%)
    }
}

.show-section-nav .docs-section-nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
}

.figure, figure {
    background: #f2f2f2;
    border-radius: 1px;
    display: block;
    margin-bottom: 1.5em;
    padding:16px
}

.figure .caption, .figure figcaption, figure .caption, figure figcaption {
    font-family: open-sans-bold, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #636363;
    font-size: 12px;
    line-height: 1.4;
    margin: 16px 0 0;
    text-align:center
}

.highlight, .highlight code, .highlight span {
    font-family: source-code-regular, Monaco, 'Courier New', monospace;
    font-style: normal;
    font-weight:400
}

img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width:100%
}

.sdk-quickstart-menu .links, .sdk-quickstart-menu .title {
    margin-right: -.26rem;
    vertical-align: top;
    display:inline-block
}

.highlight {
    padding: 1em;
    margin-bottom: 3em;
    line-height: 1.1em;
    font-size: 1em;
    border: none;
    border-radius:3px
}

.highlight pre {
    background-color: inherit;
    border: none;
    color:inherit
}

.highlight {
    background: #3b3f45;
    color:#e0e0d7
}

.highlight .hll {
    background-color:#49483e
}

.highlight .c {
    color:#75715e
}

.highlight .err {
    color: #960050;
    background-color:#1e0010
}

.highlight .k {
    color:#66d9ef
}

.highlight .l {
    color:#ae81ff
}

.highlight .n {
    color:#f8f8f2
}

.highlight .o {
    color:#f92672
}

.highlight .p {
    color:#e0e0d7
}

.highlight .c1, .highlight .cm, .highlight .cp, .highlight .cs {
    color:#9d9d97
}

.highlight .ge {
    font-style:italic
}

.highlight .gs {
    font-weight:700
}

.highlight .kc, .highlight .kd {
    color:#66d9ef
}

.highlight .kn {
    color:#f92672
}

.highlight .kp, .highlight .kr, .highlight .kt {
    color:#66d9ef
}

.highlight .ld {
    color:#e6db74
}

.highlight .m {
    color:#ae81ff
}

.highlight .s {
    color:#fc6
}

.highlight .na {
    color:#a6e22e
}

.highlight .nb {
    color:#f8f8f2
}

.highlight .nc {
    color:#a6e22e
}

.highlight .no {
    color:#66d9ef
}

.highlight .nd {
    color:#a6e22e
}

.highlight .ni {
    color:#f8f8f2
}

.highlight .ne, .highlight .nf {
    color:#a6e22e
}

.highlight .nl, .highlight .nn {
    color:#f8f8f2
}

.highlight .nx {
    color:#a6e22e
}

.highlight .py {
    color:#f8f8f2
}

.highlight .nt {
    color:#f92672
}

.highlight .nv {
    color:#f8f8f2
}

.highlight .ow {
    color:#f92672
}

.highlight .w {
    color:#f8f8f2
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color:#ae81ff
}

.highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd {
    color:#e6db74
}

.highlight .se {
    color:#ae81ff
}

.highlight .s1, .highlight .sh, .highlight .si, .highlight .sr, .highlight .ss, .highlight .sx {
    color:#e6db74
}

.highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi {
    color:#f8f8f2
}

.highlight .il {
    color:#ae81ff
}

.header-maintenance-banner {
    background: #EB0000;
    color: #fff;
    height: auto;
    padding: 10px !important;
    z-index:2
}

.header-maintenance-banner .header-maintenance-banner-container {
    display: flex;
    flex-direction:row
}

.header-maintenance-banner .header-maintenance-banner-container .header-maintenance-banner-content {
    flex-basis: content;
    flex-grow: 1;
    font-size: 1em;
    padding:0 .75rem
}

.header-maintenance-banner .header-maintenance-banner-container svg {
    display: inline-block;
    fill: currentColor;
    flex-basis: content;
    flex-grow: 5;
    height: 2.5em;
    padding: 0 .75rem;
    stroke: none;
    vertical-align:middle
}


[data-drc-search-box] .search-input {
    margin: 0;
    width:100%
}

[data-drc-search-box] .search-input input {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, .7);
    border: 1px solid #ccc;
    display: block;
    font-family: Arial;
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    outline: 0;
    padding: 0 .5em;
    transition: background .2s ease-out, border-color .2s ease-out;
    width:100%
}

[data-drc-search-box] .search-input input:focus {
    background: #fff;
    border-color:#3498db
}

[data-drc-search-box] .search-input input::-webkit-input-placeholder {
    color: #6c6c6c;
    font-style:italic
}

[data-drc-search-paginator] ul li > span, [data-drc-search-results] .search-results li .excerpt em, [data-drc-search-results] .search-results li .title {
    font-family: open-sans-bold, arial, sans-serif;
    font-style: normal;
    font-weight:400
}

[data-drc-search-paginator] ul {
    list-style-type: none;
    padding:0
}

[data-drc-search-paginator] ul li {
    display: inline-block;
    margin-right:-.25em
}

[data-drc-search-paginator] ul li > a, [data-drc-search-paginator] ul li > span {
    display: inline-block;
    line-height: 2;
    padding:0 .75em
}

[data-drc-search-results] .search-results {
    background: #fafafa;
    border: 1px solid #ccc;
    border-width: 0 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width:100%
}

[data-drc-search-results] .search-results li {
    margin: 0;
    padding:1em .5em
}

[data-drc-search-results] .search-results li .title {
    display: block;
    font-size: 15px;
    margin-bottom:.5em
}

[data-drc-search-results] .search-results li .excerpt {
    font-size:12px
}

[data-drc-search-results] .search-results li + li {
    border-top:solid 1px #e6e6e6
}

[data-drc-search-results] .search-results li.loading {
    text-align:center
}

[data-drc-search-results] .search-results li.no-results, [data-drc-search-results] .search-results li.results-count {
    font-family: open-sans-regular-italic, arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #919191;
    padding-top: 0;
    padding-bottom:0
}

#share-bar {
    font-size:20px
}

#share-bar h4 {
    margin-bottom: 10px;
    font-weight:500
}

body, em, html, i {
    font-weight:400
}

.share-button {
    margin: 0 0 10px;
    border: 1px solid #D3D6D2;
    padding:20px
}

.share-button:hover {
    text-decoration: none !important;
    box-shadow: none;
    opacity: 1;
    color:#fff
}

.fa-facebook-official {
    color:#3b5999
}

.fa-facebook-official:hover {
    background-color:#3b5999
}

.fa-twitter {
    color:#55acee
}

.fa-twitter:hover {
    background-color:#55acee
}

.fa-tumblr {
    color:#32506d
}

.fa-tumblr:hover {
    background-color:#32506d
}

.fa-reddit-alien {
    color:#ff5700
}

.fa-reddit-alien:hover {
    background-color:#ff5700
}

.fa-linkedin {
    color:#0077b5
}

.fa-linkedin:hover {
    background-color:#0077b5
}

.fa-envelope {
    color:#444
}

a, a:visited {
    color:#3498db
}

.fa-envelope:hover {
    background-color:#444
}

body, html {
    font-family: open-sans-regular, arial, sans-serif;
    font-style: normal;
    color: #474747;
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    word-break:break-word
}

em, i {
    font-family: open-sans-regular-italic, arial, sans-serif;
    font-style:italic
}

.bolditalic, b em, b i, em b, em strong, i b, i strong, strong em, strong i {
    font-family: open-sans-bold-italic, arial, sans-serif;
    font-style: italic;
    font-weight:400
}

.guilabel, .menuselection, b, strong {
    font-family:open-sans-bold, arial, sans-serif
}

.guilabel, .h1, .h2, .menuselection, b, h1, h2, strong {
    font-style: normal;
    font-weight:400
}

a {
    cursor: pointer;
    text-decoration:none
}

a:active, a:focus, a:hover {
    color: #2f89c5;
    text-decoration:underline
}

a.cta {
    border-radius: 1px;
    display: inline-block;
    padding: 1em 3em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-transition: background .1s ease-in-out;
    transition:background .1s ease-in-out
}

ol, ul {
    padding-left: 1.4em;
    margin-bottom:1.5em
}

a.cta.red {
    background:#eb0000
}

a.cta.blue {
    background:#005ac8
}

a.cta.purple {
    background:#95098a
}

a.cta.teal {
    background:#00bebc
}

hr, pre code {
    background:0 0
}

p {
    margin-bottom:1.5em
}

.h1, h1 {
    font-family: titillium-regular, arial, sans-serif;
    font-size:257.14285714%
}

.h2, h2 {
    font-family: titillium-bold, arial, sans-serif;
    font-size:214.28571429%
}

.h3, h3 {
    font-family: titillium-regular, arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:171.42857143%
}

.h4, .h5, .h6, h4, h5, h6 {
    font-family: titillium-bold, arial, sans-serif;
    font-style: normal;
    font-weight:400
}

.h4, h4 {
    font-size:128.57142857%
}

.h5, h5 {
    font-size: 100%;
    text-transform:uppercase
}

.h6, h6 {
    color: #a3a3a3;
    text-transform:uppercase
}

ol {
    list-style-type:decimal
}

ul {
    list-style-type:disc
}

ol li, ul li {
    margin-bottom:.5em
}

ol li ul, ul li ul {
    margin-top:.5em
}

code {
    background: #f2f2f2;
    border-radius: 2px;
    color: #1f5b83;
    padding: 0 .2em;
    font-family: source-code-regular, Monaco, 'Courier New', monospace;
    font-style: normal;
    font-weight:400
}

.site-header .header-links .btn-link:hover ul li, .site-header .header-nav .header-nav-container > ul > li > a, .site-header .header-nav .header-nav-container > ul > li > ul > li > a, dl dt {
    font-family: open-sans-bold, arial, sans-serif;
    font-style:normal
}

pre code {
    border-radius: 0;
    color: #e0e0d7;
    padding:0
}

pre {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom:.5em
}

pre::-webkit-scrollbar {
    background: 0 0;
    height: 10px;
    width:10px
}

pre::-webkit-scrollbar-track:horizontal {
    background:0 0
}

pre::-webkit-scrollbar-thumb:horizontal {
    background: #5e6470;
    border-radius:10px
}

dl {
    margin-bottom:1.5em
}

dl dt {
    font-weight:400
}

dl dd {
    margin-bottom:1em
}

@media (min-width: 30em) {
    dl dd, dl dt {
        display: inline-block;
        margin-right: -.26rem;
        margin-left: 0;
        vertical-align:top
    }

    dl dt {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: calc(25% - 0px);
        padding-right: 1em;
        text-align:right
    }

    dl dd {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width:calc(75% - 0px)
    }
}

sup {
    font-size: 40%;
    vertical-align:super
}

hr {
    border-top: dotted 1px rgba(71, 71, 71, .7);
    height: 1px;
    margin:2em 0
}